body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fcfeff;
}

header {
    background-color: #469bbf;
    color: white;
    padding: 0.5em;
    text-align: center;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
    color: white;
    margin: 0 30px;
    text-decoration: none;
}

nav a:hover {
    background-color: #377089;
}

main {
    padding: 2em;
}

.productos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.producto {
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 200px;
    text-align: center;
}

.producto img {
    width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #de5ebab5;
    color: white;
    margin-top: 2em;
}

.oculto {
    display: none;
}

.seccion {
    margin-top: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table th {
    border: 2px solid #ccc;
    padding: 0.5em;
    text-align: center;
}
table td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: center;
}

table thead {
    background-color: #f2f2f2;
}

form {
    max-width: 300px;
    box-shadow: 15px 20px 20px black;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    margin: 0px auto;
}

input[type = "text"],input[type = "email"]{
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    background-color: #469bbf;
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: 75px;
    background-color: #de5ebab5;
    border: none;
    cursor: pointer;
}

button {
    background-color: lightcyan;
    width: 100%;
    height: 25px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}